.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-27 {
    font-size: 27px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-29 {
    font-size: 29px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-31 {
    font-size: 31px !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* Ẩn radio button mặc định */
.checkbox-size,
.checkbox-color {
  display: none;
}

/* Thiết lập kiểu của hình tròn */
.checkbox-size + label {
  display: inline-block;
  width: 35px; /* Kích thước của hình tròn */
  height: 35px; /* Kích thước của hình tròn */
  border-radius: 50%; /* Làm cho nó tròn */
  border: 1px solid #ccc; /* Viền */
  text-align: center;
  padding-top: 6px;
  line-height: 20px; /* Chính giữa nội dung trong hình tròn */
}

.checkbox-color + label{
display: inline-block;
  width: 120px; /* Kích thước của hình tròn */
  height: 30px; /* Kích thước của hình tròn */
  border: 1px solid #ccc; /* Viền */
  text-align: center;
  padding-top: 4px;
  line-height: 20px; /* Chính giữa nội dung trong hình tròn */
}

/* Khi ô checkbox được chọn, thay đổi màu nền để làm nổi bật */
.checkbox-size:checked + label,
.checkbox-color:checked + label {
  background-color: #ccc;
  color: #fff; /* Đổi màu chữ */
}
